@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

:root{
    --font-pergunta: "londrina Sketch";
}

.body{
    background-color: #257180;
    display: flex;
    flex-wrap: wrap;
    color: #10375C;
    font-family: var(--font-pergunta);
}
section{
    background-color: #257180;
    display: flex;
    flex-wrap: wrap;
}
.londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  