@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root{
  --text-color: #000000;
  --card-front-color: #15AE68;
  --card-back-color: #144480;
}

body {
  background: url(/assets/img/bg-desktop-blue.webp);
  font-family: Gluten;
}